@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.App{
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
.map-container {
  height: 100%;
  width: 100%;
  max-width: initial!important;
  min-height: 100%!important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#map{
  min-height: 100px;
}
header {
  background-color: #333;
  padding: 10px;
  text-align: center;
  z-index: 1; /* Pour placer le header au-dessus de la carte */
}
#searchInput {
  width: 80%;
  padding: 8px;
  font-size: 16px;
}
.logo-container{
  max-width: 280px;
  height: 100%;
  margin: 0 auto;
}
.body{
  flex-grow: 1;
  position: relative;
}
.navbar{
  background-color: #333;
}
.test{
  position: absolute;
  z-index: 2;
  width: 500px;
  height: 300px;
  background: white;
  border: solid 2px black;
  color: black;
}
@media (max-width: 750px) {
  .logo-container{
    max-width: 120px;
  }
}